@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Pacifico&display=swap');

body {
  font-size: 15pt;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 100px;
  width: 100%;
  position: absolute;
}

p {
  font-family: 'Inconsolata', monospace;
  padding: 20px;
  font-size: 40px;
}

.p1 {
  margin-left: 10px;
}

.p2 {
  margin-right: 10px;
}

canvas {
  display: block;
  max-width: 100%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button {
  border: none;
  padding:10px;
  height:70px;
  width:70px;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#p2up {
  float: right;
}
#p2down {
  float: right;
}

.block {
  display: block;
  min-height: 150px;
}
